*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100vw ;
    height:100vh ;
}
.container{
    text-align: center;
    padding-top: 50px;
}
.header{
    color: blueviolet;
    margin-bottom: 2px;
}

.header input{
    width:300px ;
    height: 30px;
    border:none ;
    border-bottom:1px solid blueviolet ;
    outline: 0;
    color: blue;
    margin-bottom:20px ;
    padding-inline:10px ;
    font-size: 18px;
}

::placeholder{
    color:blue;
}

.header button{
    width:60px ;
    height: 30px;
    border-radius:5px;
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-bottom: 30px;
    transition: 0.7s all;


}

.header button:hover{

    transform: scale(0.9);
}

.content{
    width:300px ;
    height:300px ;
    border:1px solid blueviolet;
    border-radius:5px ;
    margin:auto ;
    padding:5%;
}

.content #city,
.content #temp{
    font-size:30px ;
    margin-bottom: 10px;
}

.content #desc{
    margin-bottom: 10px;
}